<form style="height: 100%;">
    <div>
        <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;margin-left: 20px;">Add
            General Diary:

            <!-- <input placeholder="enter something to send to gd view component" #inp>
            &nbsp;<button type="submit" (click)="send(inp.value)">Send</button>
            <br><small>data will be sent to gd view component using shared services</small> -->
            <hr />
            
        </h3>
        <table style="height:100%; margin-left: 20px;">

            <tr>
                <td colspan="4"
                    style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 20px;">
                </td>
            </tr>

            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';">Date/Time</td>
                <td colspan="3">:{{getFormattedDate()}}</td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Select</td>
                <td>:One<input type="radio" value="one" #op1>&nbsp; Other<input type="radio" value="other" #op2></td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, ' Narrow Bold', sans-serif; width: 25%;">General Diary
                    Type:</td>
                <td style="width: 25%;"><select #gdt>
                        <option>----------Select----------</option>
                        <option>Arrival</option>
                        <option>Departure</option>
                        <option>Administrative</option>
                        <option>Inquiry / Registration</option>
                        <option>Preventive Action</option>
                    </select></td>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width: 25%;">Brief
                    General Diary (Summary of FIR for Morning Report etc.)</td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">General Diary
                    Subtype:</td>
                <td><select #gds>
                        <option>----------Select----------</option>
                        <option>Arrival</option>
                        <option>Departure</option>
                        <option>Administrative</option>
                        <option>Inquiry / Registration</option>
                        <option>Preventive Action</option>
                    </select>
                </td>
                <td rowspan="4" style="width: 50%;"><textarea style="width: 600px;height: 100px;" #summ></textarea></td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Entry (For Officer)
                </td>
                <td><select #efo>
                        <option>----------Select----------</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        

                    </select></td>
            </tr>
            <tr>
                <td style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Subject:</td>
                <td><textarea style="width: 200px;height: 60px;" #sub></textarea>
            </tr>

        </table>

    </div>
    <div style="text-align: center;">
        <button class="btn btn-primary" (click)="submit(op1.value,gdt.value,gds.value,efo.value,sub.value,summ.value)">
            Submit
        </button>

        <button type="reset" class="btn btn-primary" style="margin-left:20px;">
            Clear
        </button>
        <button type="reset" class="btn btn-primary" style="margin-left:20px;">
            Close
        </button>
    </div>
</form>
<br>